:root {
  --pixelfont: 'Pixelify Sans', cursive;
  --titlefont: 'Dela Gothic One', cursive;
  --orange: rgba(255, 119, 1, 0.895);
}


@keyframes pokerotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(25deg);
  }
  50% {
    transform: rotate(0) ;
  }
  75% {
    transform: rotate(-25deg)
  }
  100% {
    transform: rotate(0)
  }
}

h1 {
  font-family: var(--titlefont);
  text-align: center;
}

p, span {
  font-family: var(--pixelfont);

}

.main-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.pokemon-image {
  width: 180px;
  animation-name: pokerotate;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.button {
  background-color: var(--orange) ;
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.buttons-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
}

.button:disabled {
  background-color: rgb(174, 181, 187);
  cursor:not-allowed;
  transform: scale(1);
}

.selected {
  background-color: rgb(251, 251, 15);
}

.current-pokemon-name {
  position: relative;
  top: -25px;
  font-size: 30px;
  text-transform: capitalize;
}

